.numberInput {
    width: 3em;
}

#textIcon {
    font-size: 30px;
    position: relative;
    top: -15px;
    left: 5px;
}

.elevate {
    position: relative;
    top: -2px;
}

#playDiv {
    display: none;
}

.foreground {
    fill: #0000FF;
}

.background {
    fill: #FF0000;
}